@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

$serif:             'Roboto Slab', serif;

$mirage:            rgb(31, 39, 57);
$carnation:         rgb(249, 90, 97);
$malibu:            rgb(77, 195, 250);
$alabaster:         rgb(247, 247, 247);

@import 'magnalabs/base';
@import 'magnalabs/layout';
@import 'magnalabs/component';
