.logo {
  color: $secondary;
  font-family: $serif;
  font-weight: bold;
  margin: 0;
  text-transform: lowercase;

  &::before {
    color: $tertiary;
    content: '{ ';
  }

  &::after {
    color: $tertiary;
    content: ' }';
  }

  &__link {
    color: $secondary;

    &:link, &:visited, &:hover, &:active {
      color: $secondary;
    }
  }
}
