.site-wrapper {
  display: grid;
  grid-template-areas:
    "site-header site-header site-header"
    ". site-content ."
    "site-footer site-footer site-footer";
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
}
