.site-wrapper {
  display: grid;
  grid-template-areas:
    "site-header site-header site-header"
    ". site-content ."
    "site-footer site-footer site-footer";
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: $header-height 1fr $footer-height;
  min-height: 100vh;
}
