.site-menu {
  font-family: $serif;
  height: 100%;

  &__items {
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }

  &__item {
    padding: 10px;
    text-transform: lowercase;
  }
}
