---
layout: default
---

<div>
  <h2>Who are we?</h2>
  <p>
    We are a small, agile team, responsible for the specification,
    development, installation, commissioning and testing of a
    multi-million pound automated warehouse.
  </p>

  <h2>Where are we?</h2>
  <p>
    We are based at John Lewis Magna Park on the outskirts of Milton Keynes.
  </p>
  <p>
    John Lewis Magna Park is one of the largest distribution centres in
    Europe and is the cornerstone of how John Lewis gets products both to
    stores and directly to customers.
  </p>

  <h2>What are we looking for?</h2>
  <p>
    We are looking to grow our team with the introduction of a technical
    trainee.
  </p>
  <p>
    If you have an interest in IT and would like to contribute to the fast
    paced and constantly changing world of modern retail distribution then
    this may be the opportunity for you.
  </p>

  <p>
    Ping over your CV and a couple of sentences on why you'd like a shot to
    <a href="mailto:jobs@magnapark-jlp.io">jobs@magnapark-jlp.io</a>.
    We look forward to hearing from you!
  </p>

  {{ content }}
</div>
