---
layout: default
---
<nav class="tabs is-fullwidth">
  <ul>
    {% for post in site.tags['live'] %}
      <li {% if page.url == post.url %}class="is-active"{% endif %}>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<nav class="level">
  <ul class="level-left">
    <li class="level-item">
      <h1 class="title">{{ page.title }}</h1>
    </li>
  </ul>

  <ul class="level-right">
    <li class="level-item">
      {% if page.job_url %}
        <a class="button is-success" href="{{ page.job_url }}" target="_blank">
          <strong>Apply via JLP Jobs</strong>
        </a>
      {% else %}
        <p class="button is-success" disabled>
          <strong>Applications Closed</strong>
        </p>
      {% endif %}
    </li>
  </ul>
</nav>

<article class="content is-small">
  {{content}}
</article>
